
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans&display=swap');
body {
    font-family: 'Josefin Sans', sans-serif;
}

.winedetail {
    border-radius: 10px;
    border: rgb(110, 17, 17) 3px solid;
    width: 330px;
    height: 270px;
    background-color: transparent;
    opacity: 0.9;
    padding-top: 0px;
    color: rgb(150, 150, 151);
    border-color: rgb(196, 198, 69);
}
.details-img{
background: rgb(240,128,128);
background: linear-gradient(221deg, rgba(240,128,128,1) 0%, rgba(255,218,185,1) 100%);
}

.imagedetail {
    display: flex;
    margin-left: 570px;
    padding-right: 80px;
    padding-top: 15px;
    font-size: 50px;
    color: rgb(86, 86, 86);
    padding: auto;
    padding-left: -600px;
    margin-left: 420px;
    border-color: black;
    border-radius: 3px;
}

.imagen {
    width: 400px;
    height: auto;
    margin-left: 450px;
    margin-top: 50px;
    border: 10px;
    border-color: black;
    border-radius: 3px;
}
.line{
    width: auto;
    height: 12px;
    background-color: black;
}

.nombre {
    width: 400px;
    margin-left: 550px;
    margin-top: 35px;
    font-size: 30px;
    align-content: center;
    font-style: oblique;
}

.variedad {
}

.tipo {
   
}

.bodega {
   
}

.origen {
   
}

.alcohol {
 
}

.year {
 
}

.price {
    display: flex;
    font-size: 40px;
    font-family: 'Wire One', sans-serif;
    position: fixed;
    top: 8vw;
    right: 7vw;
    font-weight: 700;
    margin-left: 30px;
    border: 3px;
    border-color: blueviolet;
}

.cata {
}

.descripcion {

}