

.winedetail {
    border-radius: 10px;
    border: rgb(0, 0, 0) 3px solid ;
    width: 330px;
    height:270px;
    background-color: transparent;
    opacity: 0.9;
    margin-top: 0px;
    padding-top: 0px;
    color: rgb(150, 150, 151);
    border-color: rgb(196, 198, 69) ;
}
.imagedetail {
display: flex;
margin-left: 570px;
padding-right: 80px;
padding-top: 15px;
font-size: 50px;
color: rgb(86, 86, 86);

padding-left: -600px;
margin-left: 420px;
}
.button_detail{
    display: flex;
    color:rgb(105, 103, 103);
    background-color: transparent;
    border-radius: 10px;
    width: 150px;
    height: 48px;
    margin-left: 560px;
    margin-top: 15px;
    padding-left: 30px;
    text-align: center;
    font-weight: 1000;
    font-size: x-large;
    border-color: rgb(5, 5, 5) ;
}
