.imagen {
    position: relative;
    left: 15%;
    width: 70%;
    height: 100%;
}

.img {
    position: absolute;
    /* border: 2px solid red; */
    width: 30%;
    float: left;
}

.name {
    /* border: 2px solid red; */
    position: relative;
    width: 40%;
    color: #56050b;
    left: 30%;
}

.tabla {
    /* border: 2px solid red; */
    width: 70%;
    float: right;
    font-size: 150%;
    padding-right: 10%;
    margin-top: 7%;
}

.th {
    text-align: right;
    color: #56050b;
}

.btn {
    border: 1px solid grey;
    border-radius: 15px;
    position: relative;
    left: 80%;
    top: 40%;
}

.price {
    left: 10%;
    position: relative;
    left: 81%;
    top: 30%;
}