@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@900&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&family=Wire+One&display=swap");

.create {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url(./eric-cook-D9WH_vlxicA-unsplash.jpg);
    min-height: 100vw;
    text-align: center;
    display: flex;
}

.form {
    margin: 0 auto;
    margin-top: 22px;
    justify-content:flex;
    align-items: center;
    width: 350px;
    background-color: rgba(255, 250, 250, 0.979);
    padding: 15px;
    margin-right: 350px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px rgb(180, 179, 179);
}

.label {
    display:grid;
    /* deja los imputs abajo de los label*/
    padding: 5px;
    font-family: 'Wire One', sans-serif;
    font-size: 25px;
    margin-top: 2px;
}

.input {
    padding: 5px;
    border: 1px inset  rgb(130, 127, 127);
    font-family: inherit;
    font-size: 100%;
}

.backButton {
    color:  rgba(38, 35, 35, 0.582);
    background-color:rgb(255, 253, 253); 
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    border: 2px rgb(189, 187, 187);
    border-radius: 2px;
    opacity: 0.9;
    margin-top: 15px;
    padding: 5px 15px;
    font: bold;
    box-shadow: 1px 1px 1px 1px rgb(121, 119, 119);
    margin-left: 1rem;
    margin-right: 390px;
 
}

.submit {
    color: rgb(255, 255, 255);
    background-color: rgba(70, 70, 70, 0.582);
    font-size: 18px;
    text-align: center;
    padding: 10px 25px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 2px rgb(231, 218, 218);
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgb(56, 56, 56);
    margin-top: 25px;
    margin-right: 18px;

}

.title{
    display: flex;
    margin-left: 100px;
    font-weight: bold;

}

.cloudinary-button{
    color: rgb(34, 34, 34);
    background-color: rgba(223, 217, 217, 0.582);
    font-size: 18px;
    text-align: center;
    padding: 10px 25px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 2px rgb(231, 218, 218);
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgb(56, 56, 56);
    margin-top: 25px;
    margin-right: 18px;
}

.imagePreview {
margin: 2rem 0 2rem 2rem;
padding: 2rem;
border: 1px solid rgb(183, 183, 183);
max-width: 300px;
width: 100%;
display:inline-block;
align-items: center;
justify-content: center;
padding: 2rem;
color: rgb(78, 78, 78);
}
.img {
  max-width: 100%;
}
