.container-admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: rgb(224, 224, 224);
}


.create {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgb(202, 202, 202) 0%, rgb(230, 230, 230) 29%);
    padding: 20px;
    border-radius: 5px;
    width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: -3px -2px 8px rgba(2, 2, 2, 0.63), 3px 2px 8px rgb(255, 255, 255);
}

.title-create {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.label{
    margin-bottom: 10px;
}

.u-full-width {
    margin-bottom: 10px;
}


.err {
    color: red;
    font-size: 1rem;
    margin-bottom: 10px;
}
