/* Modo light end */
.register-container-light{    
    display: flex;
    flex-direction: column;   
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    transition-duration: 01s;
    background-color: rgb(224, 224, 224);
}

.card-container-register-light {
    display: flex;
    flex-direction: column;   
    align-items: center;
    padding: 30px;
    margin-top: 180px;
    width: 500px;
    border-radius: 10px;
    transition-duration: 01s;
    color: #333333;
    background-color: rgb(224, 224, 224);
    box-shadow: -3px -2px 8px rgba(105, 105, 105, 0.322), 3px 2px 8px rgba(0, 0, 0, 0.089);
}

.card-container-register-light:hover {
    box-shadow: -5px -5px 10px rgba(94, 104, 121, 0.486), 5px 3px 8px rgba(255, 255, 255, 0.582);
}


.logueate-aqui-light{
    margin-top: 10px;
    transition-duration: 01s;
    color: #333333;
}


/* Modo light fin */

 /* --------------------------------------------------------- */

/*Modo Dark*/
.register-container-dark{    
    display: flex;
    flex-direction: column;   
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    transition-duration: 01s;
    background-color: #333333;   
}

.card-container-register-dark {
    display: flex;
    flex-direction: column;   
    align-items: center;
    padding: 30px;
    margin-top: 180px;
    width: 500px;
    border-radius: 10px;
    transition-duration: 01s;
    color: rgb(255, 255, 255);
    background-color: #333333;
    box-shadow: -3px -2px 8px rgb(0, 0, 0), 3px 2px 8px rgba(255, 255, 255, 0.267);
}

.card-container-register-dark:hover {
    box-shadow: -3px -2px 8px rgb(51, 27, 27), 3px 2px 8px rgba(97, 0, 0, 0.267);
}

.logueate-aqui-dark{
    margin-top: 10px;
    transition-duration: 01s;
    color: rgb(255, 255, 255);
}


/* Modo dark fin */

.form-control{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 15px;
    transition-duration: 01s;
    color: rgb(255, 255, 255);
}

div.img-registro {  
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    background-image: url(//ssl.gstatic.com/accounts/ui/avatar_2x.png);
    justify-content: center;
}