.buscar-rangos-light{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding-bottom: 5px;
    transition-duration: 01s;
    color: #333333;
    background-color: rgb(224, 224, 224);
    box-shadow: -5px -5px 10px rgba(94, 104, 121, 0.486), 5px 3px 8px rgba(255, 255, 255, 0.849);
}

.buscar-rangos-light:hover{
    cursor: pointer;
    transition-duration: 01s;
    color: #0a0a0a;
    box-shadow: -5px -5px 10px rgba(94, 104, 121, 0.568), 5px 3px 8px rgb(255, 255, 255);
}

.buscar-rangos-dark{
    border-radius: 5px;
    border: none;
    padding-bottom: 5px;
    transition-duration: 01s;
    color: rgb(189, 189, 189);
    background-color: #333333;
    box-shadow: -3px -2px 8px rgba(0, 0, 0, 0.753), 3px 2px 6px rgba(255, 255, 255, 0.205);
}

.buscar-rangos-dark:hover{
    cursor: pointer;
    transition-duration: 01s;
    color: rgb(255, 255, 255);
    box-shadow: -3px -2px 8px rgba(0, 0, 0, 0.904), 3px 2px 6px rgba(255, 255, 255, 0.322);
}