/* Modo light end */
.wine-container-light{
    height: 100vh;
    transition-duration: 01s;
    background-color: rgb(224, 224, 224);
    
}

.card-container-wine-light{
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    align-items: center;
    justify-content: center;
    transition-duration: 01s;
    background-color: rgb(224, 224, 224);
    
}

.wine-type-h1-light{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    transition-duration: 01s;
    color: #333333;
    background-color: rgb(224, 224, 224);
}


/* Modo light fin */

 /* --------------------------------------------------------- */


/*Modo Dark*/
.wine-container-dark{
    height: 100vh;
    transition-duration: 01s;
    background-color: #333333;
    
}

.card-container-wine-dark{
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    align-items: center;
    justify-content: center;
    transition-duration: 01s;
    background-color: #333333;
    
}

.wine-type-h1-dark{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    transition-duration: 01s;
    color: rgb(255, 255, 255);
    background-color: #333333;
}



/* Modo dark fin */


.container-filtros{
    margin: 20px;
    margin-top: 50px;
}

.pagination-container-type{
    display: flex;
    justify-content: center;
}

.btn-add{
    margin-left: 60px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

.btn-details{
    margin-left: 87px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

.fragment{
    margin-bottom: 50px;
}