.exp-detail-container-light{
    width: 100%;
    height: 95%;
    border: 2px solid red;
    position:absolute;
    
}

.exp-data-container-light{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100px;
    position: relative;
}
.boton-volver-light{
position: relative;
left: 2rem;
margin-top: 50%;
}
.agregar-exp-light{

}

.exp-card-container-{
    background-color: rgb(123, 32, 219);

}
.exp-card-container-light{
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 01s;
    background-color: rgb(224, 224, 224);
}
.carousel-exp {
    position: relative;
    display: flex;
    justify-content: center;
    width: 75%;
    left: 8%;
}