
.Detail{
    display: flex;
    margin-top: 150px;
    padding: 150px;
}

.navbar-brand{
    font-size: 1.5rem;
    padding-right: 10px;
    transition-duration: 01s;
    color: rgb(255, 255, 255);
    background-color: #333333 !important;
}

