/* .footer {
    background-color: rgb(72, 72, 72)
}

.info {
    color: white;
    font-size: 15px;
}

.NombreFooter {
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: white;
}

.MailFooter {
    font-size: 15px;
    color: white;
}

.Siguenos {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.list-unstyled {
    color: white;
    font-size: 25px;
}

.bi-github {
    color: white
}

.bi-instagram {
    color: white
}

.instagram {
    color: white
}

.terminos {
    color: white;
}

@media (min-width: 400px) and (max-width: 767px) {
    .NombreFooter {
        font-size: 20px;
    }
    .MailFooter {
        font-size: 10px;
    }
    .Siguenos {
        font-size: 15px;
    }
    .list-unstyled {
        font-size: 15px;
    }
    .terminos {
        font-size: 10px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container {
        margin-left: 50px!important;
        
    }
} */



.footer {
    background-color: #292b2c;
    color: #fff;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .NombreFooter {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .MailFooter {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .Siguenos {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .instagram{
    margin: 10px;
  }

  
  .list-unstyled {
    list-style: none;
    padding: 0;
  }
  
  .list-unstyled li {
    display: inline-block;
    color: white;
  }
  
  .list-unstyled li a i {
    font-size: 24px;
    color: white;
  }

  .list-unstyled li a i:hover {
    color: #9e4d4d;
  }
  
  @media (max-width: 768px) {
    .col-md-4 {
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
    }
    
    .col-md-6 {
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
    }
  }