.form-select{
    background-color: darkgrey;
    border-radius: 15px;
    color: black;
    margin-top: 0px;
}
.d-flex{
     border-radius: 5px;
    color: black;
    margin-top: 0px;   
}
.align-items-center{
    background-color: transparent;
    border-radius: 4px;
    color: black;
    margin-top: -18px;
    width: auto;
    height: 15px;
    padding-top: -3px;
    
}
.btn-outline-success{
    background-color: transparent;
}