
.h5 {
    color: rgb(176, 78, 78);
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px
}

/* Modo light end */

.filter-container-light{
    overflow: hidden;
    padding-top: 8px;
    transition-duration: 01s;
    background-color: rgb(224, 224, 224);
}

.container-light{
    height: 100vh;
    padding-top: 20px;
    transition-duration: 01s;
    background-color: rgb(224, 224, 224);
    color: #333333;
}

.filter-box-light{
    /* float: right; */
    padding: 30px;
    transition-duration: 01s;
    background-color: rgb(224, 224, 224);
}

.select-filter-light{
    margin: 7px;
    padding: 4px;
    border-radius: 5px;
    border: none;
    transition-duration: 01s;
    color: #333333;
    background-color: rgb(224, 224, 224);
    box-shadow: -5px -5px 10px rgba(94, 104, 121, 0.486), 5px 3px 8px rgb(255, 255, 255);
}

.button-reset-filter-light{
    cursor: pointer;
    margin: 7px;
    padding: 4px;
    border-radius: 5px;
    border: none;
    transition-duration: 01s;
    background-color: rgb(224, 224, 224);
    color: #333333;
    box-shadow: -5px -5px 10px rgba(94, 104, 121, 0.486), 5px 3px 8px rgb(255, 255, 255);
}

.button-reset-filter-light:hover{
    transition-duration: 01s;
    color: rgba(141, 13, 13, 0.767);
    box-shadow: -3px -2px 5px rgba(255, 0, 0, 0.384), 3px 2px 5px rgba(253, 99, 99, 0.1);
}

.footer-home-light{
    /* position: relative; */
    left:0px;
    bottom:0px;
    width:100%;
}

.button-light{
    margin: 3.2rem;
    padding: .5rem;
    border-radius: 5px;
    border: none;
    transition-duration: 01s;
    color: #333333;
    background-color: rgb(224, 224, 224);
    box-shadow: -5px -5px 10px rgba(94, 104, 121, 0.486), 5px 3px 8px rgb(255, 255, 255);
}

.button-light:hover {
    background-color:rgba(216, 95, 95, 0.479);
}

/* Modo light fin */

 /* --------------------------------------------------------- */


/*Modo Dark*/

.filter-container-dark{
    
    overflow: hidden;
    padding-top: 8px;
    transition-duration: 01s;
    background-color: #333333;
    
}

.container-dark{
    height: 100vh;
    padding-top: 20px;
    transition-duration: 01s;
    background-color: #333333;
    color: rgb(255, 255, 255);
}

.filter-box-dark{

    /* float: left; */
    padding: 30px;
    transition-duration: 01s;
    background-color: #333333;
}

.select-filter-dark{
    margin: 7px;
    padding: 4px;
    border-radius: 5px;
    border: none;
    transition-duration: 01s;
    color: rgb(189, 189, 189);
    background-color: #333333;
    box-shadow: -3px -2px 8px rgba(0, 0, 0, 0.753), 3px 2px 6px rgba(255, 255, 255, 0.205);
}

.button-reset-filter-dark{
    cursor: pointer;
    margin: 7px;
    padding: 4px;
    border-radius: 5px;
    border: none;
    transition-duration: 01s;
    background-color: #333333;
    color: rgb(194, 194, 194);
    box-shadow: -3px -2px 8px rgb(0, 0, 0), 3px 2px 8px rgba(255, 255, 255, 0.178);
}

.button-reset-filter-dark:hover{
    transition-duration: 01s;
    color: rgba(176, 78, 78, 0.479);
    box-shadow: -3px -2px 5px rgba(255, 0, 0, 0.2), 3px 2px 5px rgba(253, 99, 99, 0.1);
}

.footer-home-dark{
    /* position: relative; */
    left:0px;
    bottom:0px;
    width:100%;
}

.button-dark{
    margin: 3.2rem;
    padding: .5rem;
    border-radius: 5px;
    border: none;
    transition-duration: 01s;
    color: rgb(189, 189, 189);
    background-color: #333333;
    box-shadow: -3px -2px 8px rgba(0, 0, 0, 0.753), 3px 2px 6px rgba(255, 255, 255, 0.205);
}

.button-dark:hover {
    background-color: rgba(176, 78, 78, 0.479);
}

/* Modo dark fin */




