/* Modo light end */
.container-pagination-light {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(224, 224, 224);
}

.pagination-light {
    display: inline-block;
    margin-top: 10px;
}


.nav-container-light {
    height: 8vh;
    width: 100vw;
    transition-duration: 01s;
    background-color: rgb(224, 224, 224);
}

.page-iten-light {
    display: inline;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
    transition-duration: 01s;
    border: 2px solid rgb(15, 15, 15);
    background-color: rgb(224, 224, 224);
}

.page-iten-light-active {
    display: inline;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
    transition-duration: 01s;
    border: 2px solid rgb(15, 15, 15);
    background-color: rgb(194, 194, 194);
    box-shadow: -3px -2px 6px rgba(0, 0, 0, 0.555), 3px 2px 4px rgb(255, 255, 255);
}


/* Modo light fin */

 /* --------------------------------------------------------- */