@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');* 
{
    margin: 0;
    padding: 0;
    background-color: #2f2f2f;
  }
  .main {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: rgb(68, 68, 68);
  }

 
  .d2 {
    position: absolute;
    background-image: url(https://media.admagazine.com/photos/618a6e99b67f79aa891eddde/master/pass/57648.jpg);
    background-size: 1000px 862px;
  
    height: 80vh;
    width: 45vw;
  
    background-position: -10vw 50%;
    left: 0vw;
  
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd2 10s 2;
    animation-delay: 2s;
  }
  .d3 {
    position: absolute;
    background-image: url(https://mendozaviajes.com/wp-content/uploads/2020/08/Vinedos-con-vista-del-Cordon-del-Plata.jpg);
    background-size: 1490px 1062px;
    overflow: hidden;
    text-align: center;
    padding-top: 370px;
    font-size: 140px;
    color:rgb(255, 255, 255);
    font-family: 'Wire One', sans-serif;
    height: 100vh;
    width: 40vw;
    left: 25vw;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    background-position: -15vw 50%;
  
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    animation: dd3 10s 2;
    animation-delay: 2s;
  }
  .d4 {
    position: absolute;
    overflow: hidden;
    background-image: url(https://www.namesnack.com/images/namesnack-winery-business-names-4368x2912-20200915.jpeg?crop=21:16,smart&width=420&dpr=2);
    background-size: 840px 840px;
  
    height: 80vh;
    width: 35vw;
    left: 65vw;
    background-position: -70vw 50%;
  
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd4 10s 2;
    animation-delay: 2s;
  }

  @keyframes dd12 {
    0% {
    }
    50% {
      background-position: Calc(0vw - 40px) 50%;
    }
  }
  @keyframes dd2 {
    0% {
    }
    50% {
      background-position: Calc(-20vw - 60px) 50%;
    }
  }
  @keyframes dd3 {
    0% {
    }
    50% {
      background-position: Calc(-35vw - 60px) 50%;
    }
  }
  @keyframes dd4 {
    0% {
    }
    50% {
      background-position: Calc(-70vw - 70px) 50%;
    }
  }
  