
.login-container{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    margin: 0 auto;
}

.form-log form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-log label {
    margin-top: 20px;
}