.navbar-expand-lg {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.5rem 0;
    margin-top: 0px !important;
    transition-duration: 01s;
    background-color: rgb(224, 224, 224) !important;
    color: #333333;
    position: fixed;
    z-index: 100;
    width: 100%;
    text-decoration: none !important;
}
.carrito {
    display: flex;
    font-size: 40px;
    margin-right: 20px;
    margin-top: 0px;
    cursor: pointer;
    text-decoration: none;
  
}

.container {
    padding: 2rem 0rem;
  }
  
  .table-image thead td,
  .table-image thead th {
    border: 0;
    color: #666;
    font-size: 0.8rem;
  }
  
  .table-image td,
  .table-image th {
    vertical-align: middle;
    text-align: center;
  }
  
  .table-image td.qty,
  .table-image th.qty {
    max-width: 2rem;
  }
  
  .price {
    margin-left: 1rem;
  }
  
  .modal-footer {
    padding-top: 0rem;
  }

  