
.login-container{    
    display: flex;
    flex-direction: column;   
    align-items: center;
    margin: 0 auto;
    height: 150vh;   
}
.card {
    padding: 30px;
    margin-top: 30px;
    width: 600px;
    background-color: rgb(233, 231, 231);
}
.card-container {
    align-items: center;
 
}

div.img-registro {  
     height: 100px;
     width: 100px;
     background-repeat: no-repeat;
     background-position: 50%;
     border-radius: 50%;
     background-size: 100% auto;
     background-image: url(//ssl.gstatic.com/accounts/ui/avatar_2x.png);
     justify-content: center;
}

.form-log form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-log label {
    margin-top: 20px;
}